driftfile /var/lib/ntp/drift
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1 
restrict -6 ::1
{% for ntp_server in ntp_servers %}
server {{ ntp_server }}
{% endfor %}
includefile /etc/ntp/crypto/pw
keys /etc/ntp/keys
